{% extends "template.html" %}
{% block head %}
<link rel="stylesheet" href="style/actor_list.css">
<script type="module" src="script/actor_list.js"></script>
{% endblock %}
{% block content %}
<div id="actor_list">
	{% for actor in actor_list %}
	<div class="actor" data-id="{{actor.id}}">
		<img class="icon" src="{{actor.icon}}">
		<a class="name" href="actor/{{actor.id}}">{{actor.name}}</a>
		<span class="id">id: {{actor.id}}</span>
		<p class="comment">{{actor.comment}}</p>
	</div>
	{% endfor %}
</div>
<div class="pagination">
	<ic role="button" title="最初へ" data-page="0" class="first ri-skip-left-line"></ic>
	<ic role="button" title="前へ" data-step="-1" class="prev ri-arrow-left-s-line"></ic>
	<ic role="button" title="次へ" data-step="1" class="next ri-arrow-right-s-line"></ic>
	<ic role="button" title="最後へ" data-page="last" class="last ri-skip-right-line"></ic>
	<small class="size" hidden>{{actor_size}}</small>
</div>
{% endblock %}
