{% extends "template.html" %}
{% block head %}
<link rel="stylesheet" href="common/style/note.css">
{% endblock %}
{% block content %}
<article>
	<h2>目次</h2>
	<nav>
		<ul>
			<li><a href="guide#intro">導入</a></li>
			<li><a href="guide#world">世界観・単語集</a></li>
			<li><a href="guide#sitemap">町の地図</a></li>
			<li><a href="guide#character-making">キャラクターメイキングについて</a></li>
		</ul>
	</nav>
</article>
<article>
	<h2 id="intro">導入</h2>
	<p>
		<a href="guide#夢の海">"夢の海"</a>にぽっかり浮かぶ、小さな島の小さな町・<a href="guide#パステルサイト">パステルサイト</a>。<br>
		住人たちはとっても仲良し！<br>
		あんまり仲良しなものだから、ある日、住人たちは全員で旅行に出かけることにしました。
	</p>
	<p>
		旅行に出かけている間、町はすっかりからっぽになってしまいます。<br>
		町には人が必要です。でもみんなで旅行には行きたいわけで……考えて、住人たちはひらめきました。<br>
		<u>「いろんなところから人を集めてきて、一日だけわたしたちの町に代わりに住んでもらおう！」</u><br>
		とっても名案だと、口々に言いあいました。
	</p>
	<p>
		そういう訳で住人たちは宣伝用のチラシを作ってばら撒いたり、SNSで広報したり、地道な宣伝活動を繰り返し……<br>
		さまざまな方法でこの町・パステルサイトを知ったあなたたちは、たった一日、町の住人となるために、ここへやってきたのでした。
	</p>
	<p>
		<i>どうか、あなたたちの小旅行も、素敵なものになりますように。</i>
	</p>
</article>
<article>
	<h2 id="world">世界観・単語集</h2>
	<section>
		<h3 id="パステルサイト">パステルサイト</h3>
		<p>
			とある島の全域を占める、それでも"小さな"と表現してよい規模の町。具体的には直径2kmほど、ほぼ正円形の島と町。<br>
			町の所々にパステルカラーのタイルが散りばめられ、柔らかでのどかな気配を纏っている。
		</p>
		<p>
			全体的に日本でいうところの平成くらいの技術・文化レベルで、そこに魔法や神秘が自然な形で根付いている。<br>
			電気文明と魔法文明の中間くらい。電気ポットの横に魔法薬の小瓶が並べられていたりする。
		</p>
		<h4>PL向け</h4>
		<p>
			割と何でもありの現代舞台だと思ってよいです。おそらく一番近いのは日本の平成だと思いますが、建築などはちょっと西洋っぽさが強いかも。
		</p>
	</section>
	<section>
		<h3 id="夢の海">"夢の海"</h3>
		<p>
			パステルサイト周辺に広がる海。少しだけ紫の混じった青色。<br>
			<u>Dream-Essence</u>(通称:dres)と呼ばれるエネルギーを取り出すことが可能で、魔法的ないろんな営みに便利に使える。<br>
			深海であればあるほど水圧の影響で高純度のdresが獲得可能だが、パステルサイトは洋上の町なのでそこまで強いエネルギーにはならない。
		</p>
		<p>
			塩分は含まないが代わりに夢の力を有しており、長時間漬かると身体がちょっと溶ける。<br>
			この融解能力もまた深海であればあるほど強く、パステルサイトの海岸沿いならほとんど人体に影響はない。<br>
			角質とかが程よく溶けて美容に良いという噂もあるくらい。
		</p>
		<h4>PL向け</h4>
		<p>
			弊サークル過去作『Deep,Deep,Deep!』をプレイされた方なら聞き覚えのある単語もあるかと思いますが、同じものです。<br>
			『Deep,Deep,Deep!』で触れるものより遥かに深度が浅く、そのため各種性質もかわいい感じになっています。
		</p>
	</section>
</article>
<article>
	<h2 id="sitemap">町の地図</h2>
	<p>ここに町の地図の画像</p>
	<section>
		<h3>空色広場</h3>
		<p>
			カラフルなレンガが敷き詰められた、町でいちばん大きな広場。<br>
			広いだけで特に何もないけれど、いろんな人が集まってくる。
		</p>
	</section>
	<section>
		<h3>真朱駅</h3>
		<p>
			町の外と中とを繋ぐ玄関口。線路がどこに繋がっているのかはよくわからない。<br>
			列車は『移動』の象徴であるので、パステルサイトの法則に従って様々な世界に行くことができる。
		</p>
	</section>
	<section>
		<h3>深緑公園</h3>
		<p>
			さまざまな遊具やベンチなどが設置された、緑豊かな公園。<br>
			澄んだ空気に満ちている気がする。
		</p>
	</section>
	<section>
		<h3>喫茶店：錆色時計</h3>
		<p>
			店名どおりの丸時計が、少しだけ怪しいリズムで時を刻んでいる。<br>
			コーヒー豆と抽出用の機械、テーブルとそれを囲む椅子。カウンター席も設けられている。
		</p>
	</section>
	<section>
		<h3>やまぶき雑貨店</h3>
		<p>
			少し狭めの店内、謎のオブジェや小瓶などが空間を埋めている。<br>
			大きく開けられた窓が陽の光を取り込んで、それらをきらきら輝かせている。
		</p>
	</section>
	<section>
		<h3>青竹診療所</h3>
		<p>
			町中のけがや病気をすべて請け負う万能の診療所。<br>
			パステルサイトの住人はあまり病気にかからないようで、仕事の幅に対して診療所の規模は小さい。
		</p>
	</section>
	<section>
		<h3>白花学校</h3>
		<p>
			教育施設。小学校なのか中学校なのか高校なのかはよくわからない。<br>
			たくさんの教室を含む校舎が、校庭をぐるっと取り囲むような構造。
		</p>
	</section>
	<section>
		<h3>うるみ図書館</h3>
		<p>
			小説、実用書、雑誌など、いろんな本が納められた図書館。<br>
			少し薄暗く、静かな空気が漂っている。
		</p>
	</section>
	<section>
		<h3>若葉温室</h3>
		<p>
			大きなガラスドームの中に、さまざまな植物が所狭しと伸びている。<br>
			見たことのないようなカラフルな花なども多い。
		</p>
	</section>
	<section>
		<h3>秘色の路地</h3>
		<p>
			町の隙間を縫うような細い路地。<br>
			うまく歩けば近道になるだろうが、複雑さゆえに大抵は迷子を量産している。
		</p>
	</section>
</article>
{% endblock %}
