{% extends "template.html" %}
{% block head %}
<link rel="stylesheet" href="common/style/note.css">
{% endblock %}
{% block content %}
<article id="location">
	<h2 class="name">{{location.name}}</h2>
	<p class="name">{{location.lore|safe}}</p>
	<a href="location">一覧に戻る</a>
	{% if item_list %}
	<section id="item_list">
		<h3>アイテム</h3>
		{% for item in item_list %}
		<div class="item" data-id="{{item.id}}" data-message="{{item.message}}">
			<span>{{item.name}}</span>
			<span>{{item.lore|safe}}</span>
		</div>
		{% endfor %}
	</section>
	{% endif %}
</article>
<div id="chat_list">
	{% for chat in chat_list %}
	<article class="chat" data-id="{{chat.id}}">
		<img class="icon" src="{{chat.icon|urlencode}}">
		<header>
			<span class="name">{{chat.name}}</span>
			{% if chat.actor %}
			<span class="actor">id:{{chat.actor}}</span>
			{% endif %}
		</header>
		<p class="body">{{chat.body|safe}}</p>
		<footer>
			<time class="timestamp">{{chat.timestamp}}</time>
		</footer>
	</article>
	{% endfor %}
</div>
{% endblock %}
