{% extends "template.html" %}
{% block head %}
<link rel="stylesheet" href="style/fav.css">
<link rel="stylesheet" href="style/location.css">
<link rel="stylesheet" href="style/timeline.css">
<script type="module" src="script/fav.js"></script>
<script type="module" src="script/location.js"></script>
{% endblock %}
{% block content %}
<article id="location">
	<h2 class="name">
		{{location.name|default(value='ひみつの場所')}}
		<span><label role="button" class="fav"><input type="checkbox" name="location" value="{{location_key}}:{{location.name|default(value='ひみつの場所')}}"><ic class="off ri-star-line" title="未フォロー"></ic><ic class="on ri-star-fill" title="フォロー中"></ic></label></span>
	</h2>
	<p class="lore">
		{% if location.lore %}
		{{location.lore|safe}}
		{% else %}
		<small>
			誰かをこの場所に招待する際は、ここで相手にメンション（@{id}）を付けて発言してください。サイト内通知、およびWebhookにリンクが送られます。<br>
			あるいは、プロフィール等にこの場所のURLを貼るなどしてもいいでしょう。プレイヤーと直接URLを共有しても構いません。
		</small>
		{% endif %}
	</p>
	<a href="location">一覧に戻る</a>
	{% if item_list %}
	<section id="item_list">
		<h3>アイテム</h3>
		{% for item in item_list %}
		<div class="item" data-id="{{item.id}}" data-message="{{item.message}}">
			<span>{{item.name}}</span>
			<span>{{item.lore|safe}}</span>
		</div>
		{% endfor %}
	</section>
	{% endif %}
</article>
<div id="timeline">
	<template id="chat_list-template">
		<article class="chat" data-id>
			<a class="icon" target="_blank" href><img src></a>
			<a class="name" target="_blank" href></a>
			<span class="id">id: </span>
			<p class="body"></p>
			<footer class="util">
				<time class="timestamp"></time>
				<div class="partition"></div>
				<button type="button" class="reply" title="返信"><ic class="ri-reply-line"></ic></button>
			</footer>
		</article>
	</template>
	<div id="chat_list">
		{% for chat in chat_list|reverse %}
		<article class="chat" data-id="{{chat.id}}">
			<a class="icon" target="_blank" href="actor/{{chat.actor}}"><img src="{{chat.icon}}"></a>
			<a class="name" target="_blank" href="actor/{{chat.actor}}">{{chat.name}}</a>
			{% if chat.actor %}
			<span class="id">id: {{chat.actor}}</span>
			{% endif %}
			<p class="body">{{chat.body|safe}}</p>
			<footer class="util">
				<time class="timestamp">{{chat.timestamp|time}}</time>
				<div class="partition"></div>
				<button type="button" class="reply" title="返信"><ic class="ri-reply-line"></ic></button>
			</footer>
		</article>
		{% endfor %}
	</div>
	<div class="pagination">
		<ic role="button" title="前へ" data-page="1" class="ri-arrow-left-wide-line"></ic>
		<ic role="button" title="更新" data-page="0" class="ri-refresh-line"></ic>
		<ic role="button" title="次へ" data-page="-1" class="ri-arrow-right-wide-line"></ic>
	</div>
	{% if actor %}
	<div id="post">
		<article id="preview" hidden>
			<img class="icon">
			<span class="name"></span>
			<span class="id">id: {{actor.id}}</span>
			<p class="body"></p>
			<footer class="util">
				<time class="timestamp">0000-00-00 00:00:00</time>
				<div class="partition"></div>
				<ic class="ri-reply-line"></ic>
			</footer>
		</article>
		<form action="location/{{location_key}}" method="post" data-encode="form">
			<input type="hidden" name="location" value="{{location_key}}">
			{% if icon_list %}
			<dialog closedby="any">
				<fieldset>
					{% for icon in icon_list %}
					<label>
						<input type="radio" name="icon" value="{{icon}}" {% if loop.first %}checked{% endif %}>
						<img class="icon" src="{{icon}}">
					</label>
					{% endfor %}
				</fieldset>
			</dialog>
			<button class="icon" type="button"><img src="{{actor.icon}}"></button>
			{% else %}
			<input type="hidden" name="icon" value="">
			{% endif %}
			<input class="name" type="text" name="name" placeholder="名前" value="{{actor.name}}">
			<span class="id">id: {{actor.id}}</span>
			<textarea class="body insert-tag" name="body" placeholder="本文"></textarea>
			<footer class="util">
				<button type="submit" title="発言投稿"><ic class="ri-send-plane-2-line"></ic></button>
				<button type="button" title="太字" onclick="insert_tag('[b/', '/b]')"><ic class="ri-bold"></ic></button>
				<button type="button" title="斜体" onclick="insert_tag('[i/', '/i]')"><ic class="ri-italic"></ic></button>
				<button type="button" title="下線" onclick="insert_tag('[u/', '/u]')"><ic class="ri-underline"></ic></button>
				<button type="button" title="取消線" onclick="insert_tag('[s/', '/s]')"><ic class="ri-strikethrough"></ic></button>
				<button type="button" title="小文字" onclick="insert_tag('[small/', '/small]')"><ic class="ri-subtract-line"></ic></button>
				<button type="button" title="大文字" onclick="insert_tag('[large/', '/large]')"><ic class="ri-add-line"></ic></button>
				<button type="button" title="圏点" onclick="insert_tag('[em/', '/em]')"><ic class="ri-emphasis"></ic></button>
				<button type="button" title="ルビ" onclick="insert_tag('[ruby/', '|ルビ/ruby]')"><ic class="ri-emphasis-cn"></ic></button>
				<button type="button" title="虹色" onclick="insert_tag('[rainbow/', '/rainbow]')"><ic class="ri-rainbow-fill"></ic></button>
				<button type="button" title="画像挿入" onclick="insert_tag('[image/', '/image]')"><ic class="ri-image-line"></ic></button>
				<div class="partition"></div>
			</footer>
		</form>
	</div>
	{% endif %}
</div>
{% endblock %}
