<!DOCTYPE html>
<html lang="ja" data-theme="light">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin>
		<title>{{title}}</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@400;500;700&Darumadrop+One&display=swap">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.min.css">
		<base href="/">
		<link rel="stylesheet" href="style/theme.css">
		<link rel="stylesheet" href="common/style/base.css">
		<link rel="stylesheet" href="common/style/notice.css">
		<link rel="stylesheet" href="common/style/layout.css">
		<link rel="stylesheet" href="style/component.css">
		<script>document.documentElement.dataset.theme = localStorage.getItem('theme') ?? document.documentElement.dataset.theme</script>
		<script defer src="script/common.js"></script>
		<script defer src="script/background.js"></script>
		{% block head %}{% endblock %}
	</head>
	<body>
		<header>
			<button type="button" aria-controls="main-menu" aria-expanded="false"><span></span></button>
			<nav id="main-menu">
				{% if actor %}
				<a href="home"><ic class="ri-home-line"></ic>ホーム</a>
				{% endif %}
				<a href="location"><ic class="ri-road-map-line"></ic>町を歩く</a>
				<a href="actor"><ic class="ri-group-3-line"></ic>人々を見る</a>
				<a href="info"><ic class="ri-information-line"></ic>お知らせ</a>
				<a href="guide"><ic class="ri-booklet-line"></ic>ガイドブック</a>
				<div class="partition"></div>
				<a href=""><ic class="ri-global-line"></ic>トップページ</a>
				<div class="tool-box">
					<a title="ライトテーマ" data-theme="light"><ic class="ri-sun-line"></ic></a>
					<a title="ダークテーマ" data-theme="dark"><ic class="ri-moon-line"></ic></a>
				</div>
				<small class="credit">2026 <a target="_blank" href="https://x.com/untroche_ar">untroche</a></small>
			</nav>
			{% if actor %}
			<div id="actor-data">
				<a href="home">
					<img class="icon" src="{{actor.icon|urlencode}}">
					<span class="id">id: {{actor.id}}</span>
					<span class="name">{{actor.name}}</span>
				</a>
			</div>
			{% endif %}
		</header>
		<main>{% block content %}{% endblock %}</main>
		<dialog id="help" closedby="any"></dialog>
		<canvas id="background"></canvas>
	</body>
</html>
