:root {
	&[data-theme="light"] {
		--surface-color: #eee;
		--content-color: #222;
		--accent-color: #ffcd1b;
		--border-color: #767676;
		--link-color: #80a0ff;
		--link-visited-color: #80a0ff;
	}
	&[data-theme="dark"] {
		--surface-color: #222;
		--content-color: #ddd;
		--accent-color: #ffcd1b;
		--border-color: #767676;
		--link-color: #007bff;
		--link-visited-color: #007bff;
	}
}

* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 16px;
}

html,
input,
textarea,
select,
button {
	font-family: "Zen Maru Gothic", sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 1.5;
	color: var(--content-color);
}

body,
body > header,
#global-menu {
	background-color: var(--surface-color);
	transition: background-color 0.2s;
}

a:any-link {
	color: var(--link-color);
}
a:visited {
	color: var(--link-visited-color);
}

input,
textarea,
select,
button {
	padding-left: 0.2rem;
	padding-right: 0.2rem;
	background: none;
	border-style: solid;
	border-radius: 3px;
	font-size: 1rem;
}

menu {
	list-style-type: none;
}
ul,
ol {
	list-style-position: inside;
}

button,
[role="button"] {
	cursor: pointer;
	color: var(--link-color);
	transition: color 0.2s;

	&:hover {
		color: var(--accent-color);
	}
}

[hidden] {
	content-visibility: hidden !important;
}

.partition {
	flex-grow: 1;
	margin: auto;
}
