main {
	padding: 1rlh 0;
}

#timeline {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rlh;

	> * {
		content-visibility: auto;
		contain-intrinsic-size: auto 96px;
	}
}

#post-form > form {
	justify-self: center;
	margin-top: 0.5rlh;

	> input,
	textarea {
		padding: 0;
		border: none;
		resize: none;
		border-radius: 0;
		border-bottom: 1px dotted var(--border-color);

		&:focus-visible {
			outline: none;
			border-bottom: 1px solid var(--accent-color);
		}
	}

	> .name {
		margin-bottom: -1px;
	}
	> .content {
		field-sizing: content;
		min-height: 2rlh;
	}
	> .util > button[type="submit"] {
		width: 3rem;
		padding-left: 3px;
		border: 1px var(--border-color);
		border-style: none dotted;
		border-radius: 0;
	}
}

#timeline > *,
#post-form > form {
	display: grid;
	width: fit-content;
	grid-template: "ic nm id" auto "ic ct ct" 1fr "ic ut ut" auto / auto 1fr auto;
	column-gap: 4px;
	padding-right: 4px;
	border-radius: 4px;
	box-shadow: 0 0 2px var(--border-color);

	> .name {
		grid-area: nm;
		font-weight: 500;
	}
	> .id {
		grid-area: id;
	}
	> .icon {
		grid-area: ic;
		width: 2rlh;
		max-height: 4rlh;
	}
	> .content {
		grid-area: ct;
		width: 30rem;
		border-bottom: 1px dotted var(--border-color);
	}
	> .util {
		grid-area: ut;
		display: flex;
		margin-bottom: -2px;
		> button {
			font-size: 1rem;
			border: none;
		}
	}
	time {
		font-size: 0.8rem;
		color: var(--border-color);
	}
}
