.pagination {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	overflow-y: hidden;

	> * {
		width: 1lh;
		height: 1lh;
	}
	> ic {
		font-size: 1.5rem;
	}
	> a {
		font-size: 1.1rem;
		font-weight: bolder;
		text-align: center;
		margin-top: -8px;
	}
}
