#chat_list {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rlh;

	> article {
		content-visibility: auto;
		contain-intrinsic-size: auto 96px;
	}
}

#chat_list > article,
#post_form {
	display: grid;
	width: fit-content;
	grid-template: "ic nm id" auto "ic bd bd" 1fr "ic ut ut" auto / auto 1fr max-content;
	column-gap: 4px;
	padding-right: 4px;
	overflow: hidden;
	border-radius: 4px;
	box-shadow: 0 0 2px var(--border-color);
	background-color: var(--weak-surface-color);

	* {
		background: none;
	}

	> .name {
		grid-area: nm;
		border-bottom: 1px dotted;
		font-weight: 500;
	}
	> .id {
		grid-area: id;
	}
	> .icon {
		grid-area: ic;
		width: 2rlh;
		max-height: 4rlh;
	}
	> .body {
		grid-area: bd;
		width: 26rem;
		border-bottom: 1px dotted var(--border-color);
	}
	> .util {
		grid-area: ut;
		display: flex;
		height: 1rlh;
		margin-bottom: -2px;

		> button {
			border: none;
		}
	}
	time {
		font-size: 0.8rem;
		color: var(--border-color);
	}
}

#chat_list > article {
	> .name {
		border-bottom-color: transparent;
	}
}

#post_form {
	justify-self: center;
	margin-top: 1rlh;

	input,
	textarea {
		padding: 0;
		border: none;
		border-radius: 0;
		resize: none;

		&:focus-visible {
			outline: none;
			border-bottom: 1px solid var(--accent-color);
		}
	}

	.icon {
		height: fit-content;
		padding: 0;
		border: none;

		> img {
			display: block;
		}
	}

	textarea {
		field-sizing: content;
		min-height: 2lh;
	}

	button:where(:not([type]), [type="submit"]) {
		width: 3rem;
	}
}
