main {
	display: flex;
	flex-wrap: wrap;
	scroll-snap-type: y mandatory;

	> * {
		scroll-snap-align: start;
	}
}

#location {
	width: 30rem;
	margin: 0 auto;

	> .name {
		position: sticky;
		top: 0;
	}

	> details {
		margin-top: 1rlh;
	}
}

#items {
	display: flex;
	flex-direction: column;
	gap: 0.5rlh;
	padding: 0 0.5rem;

	.item {
		display: flex;
		flex-wrap: wrap;
		border: 1px var(--border-color);
		border-style: solid none;
		justify-content: space-between;

		> .name {
			flex-grow: 1;
			border-bottom: 1px dashed var(--border-color);
		}
		> .lore {
			width: 100%;
		}
		> button {
			justify-self: end;
			border: 1px var(--border-color);
			border-style: none solid solid;
			border-radius: 0;
		}
	}
}

#timeline {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	max-height: stretch;
	padding-bottom: 0.5rlh;
	align-items: center;
	gap: 0.3rlh;

	> .pagination {
		display: flex;
		gap: 1rem;
	}
}

#chat_list {
	flex-grow: 1;
	padding: 0.2rlh 0;
}
#preview {
	padding-bottom: 0.2rlh;
}

#post > form {
	input,
	textarea {
		padding: 0;
		border: 1px dotted var(--border-color);
		border-style: none none dotted;
		border-radius: 0;
		resize: none;

		&:focus-visible {
			outline: none;
			border-bottom-style: solid;
			border-bottom-color: var(--accent-color);
		}
	}
	textarea {
		field-sizing: content;
		min-height: 2lh;
	}
	.util {
		gap: 0.2em;
	}
	button:is(:not([type]), [type="submit"]) {
		order: 100;
		width: 3rem;
		padding-left: 7px;
		border: 1px var(--border-color);
		border-style: none dotted;
	}
	dialog {
		background-color: var(--surface-color);

		fieldset {
			display: grid;
			gap: 0.2rem;
			grid-template-columns: repeat(8, auto);
			border: none;
		}
		input {
			display: none;
		}
		img {
			width: 2rlh;
			max-height: 4rlh;
		}
	}
}
