/* 色やタイポグラフィ */

:root {
	font-size: min(16px, calc(98dvw / 30));

	--font-primary: "Zen Maru Gothic", sans-serif;
	--font-display-1: "Darumadrop One", fantasy;
	--font-display-2: "Yusei Magic", fantasy;

	&[data-theme="light"] {
		--surface-color: #efefef;
		--weak-surface-color: #f0f0f080;
		--content-color: #202020;
		--accent-color: #ffcd1b;
		--border-color: #767676;
		--link-color: #2a4db4;
		--link-visited-color: #2a4db4;
		--rainbow-color: #b00000;
	}
	&[data-theme="dark"] {
		--surface-color: #1a1a1a;
		--weak-surface-color: #32323280;
		--content-color: #d0d0d0;
		--accent-color: #ffcd1b;
		--border-color: #b6b6b6;
		--link-color: #a1cfff;
		--link-visited-color: #a1cfff;
		--rainbow-color: #ff6060;
	}
}

html,
input,
textarea,
select,
button {
	color: var(--content-color);
	font-family: var(--font-primary);
	font-style: normal;
	font-weight: 400;
	line-height: 1.5;
}

input,
textarea,
select,
button {
	font-size: 1rem;
}

body {
	background-image: url("/image/back.png");
	background-repeat: repeat;
	background-blend-mode: overlay;
}

h1 {
	font-family: var(--font-display-1);
}
h2 {
	font-family: var(--font-display-2);
}
h3 {
	font-family: var(--font-display-2);
	font-weight: 400;
}
