#timeline {
	flex-grow: 1;
	display: flex;
	max-height: stretch;
	padding: 0.4rlh;
	flex-direction: column;
	align-items: center;
	gap: 0.5rlh;
	overflow: hidden auto;
	scrollbar-width: thin;
	scrollbar-gutter: stable;

	> .pagination {
		display: flex;
		margin-top: auto;
		justify-content: center;
		align-items: center;
		gap: 1rem;
	}
}

#chat_list,
#post {
	display: flex;
	flex-direction: column;
	width: fit-content;
	gap: 0.5rlh;

	> article {
		content-visibility: auto;
		contain-intrinsic-size: auto 96px;
	}
}

#chat_list > article,
#post > *:is(form, article) {
	display: grid;
	width: fit-content;
	grid-template: "ic nm id" auto "ic bd bd" 1fr "ic ut ut" auto / auto 1fr max-content;
	column-gap: 4px;
	padding-right: 4px;
	overflow: hidden;
	border-radius: 4px;
	box-shadow: 0 0 2px var(--border-color);
	background-color: var(--weak-surface-color);

	> .name {
		grid-area: nm;
		border-bottom: 1px dotted;
		font-weight: 500;
	}
	> .id {
		grid-area: id;
	}
	> .icon {
		grid-area: ic;
		width: 2rlh;
		height: fit-content;
		max-height: 4rlh;
		padding: 0;
		border: none;

		> img {
			display: block;
			width: 100%;
		}
	}
	> .body {
		grid-area: bd;
		width: 26rem;
		border-bottom: 1px dotted var(--border-color);
	}
	> .util {
		grid-area: ut;
		display: flex;
		height: 1rlh;
		margin-bottom: -2px;
	}

	* {
		background: none;
	}
	button {
		border: none;
	}
	time {
		font-size: 0.8rem;
		color: var(--border-color);
	}
}

#chat_list > article > .name,
#post > article > .name {
	color: var(--content-color);
	text-decoration: none;
	border-bottom-color: transparent;
	transition: color 0.2s;

	&:hover {
		color: var(--accent-color);
	}
}

#post > form {
	input,
	textarea {
		padding: 0;
		border: none;
		border-radius: 0;
		resize: none;

		&:focus-visible {
			outline: none;
			border-bottom: 1px solid var(--accent-color);
		}
	}
	textarea {
		field-sizing: content;
		min-height: 2lh;
	}
	button:is(:not([type]), [type="submit"]) {
		order: 100;
		width: 3rem;
		padding-left: 7px;
		border: 1px var(--border-color);
		border-style: none dotted;
	}
	dialog {
		background-color: var(--surface-color);

		fieldset {
			display: grid;
			gap: 0.2rem;
			grid-template-columns: repeat(8, auto);
			border: none;
		}
		input {
			display: none;
		}
		img {
			width: 2rlh;
			max-height: 4rlh;
		}
	}
}
