h1 {
	position: relative;
	padding: 1.5lh 0;
	font-family: var(--font-display-1);
	text-align: center;
	font-size: 4rem;
	-webkit-text-stroke: 10px var(--weak-surface-color);
	paint-order: stroke;

	> svg {
		position: absolute;
		max-width: 60dvw;
		max-height: 60dvw;
		z-index: -1;
		top: 50%;
		left: 50%;
		translate: -100% -50%;
	}
}

#clock-hand {
	transition: transform 1s;
}
