form {
	label {
		display: flex;
		align-items: baseline;
		gap: 4px;

		> input:where(:not([type]), [type="text"], [type="password"], [type="number"]) {
			flex-grow: 1;
		}

		&:has(> textarea) {
			flex-wrap: wrap;
		}
		> textarea {
			width: 100%;
			resize: vertical;
		}
		> .auto_resize {
			margin-left: auto;
		}
		> .auto_resize:has(> input[type="checkbox"]:checked) + textarea {
			height: unset !important;
			min-height: 2lh;
			field-sizing: content;
			resize: none;
		}
	}

	.toggle-visible {
		padding: 0;
		border: none;
	}
	input[type="password"] + .toggle-visible > .on {
		display: none;
	}
	input[type="text"] + .toggle-visible > .off {
		display: none;
	}
	button:where(:not([type]), [type="submit"]) {
		display: block;
		margin-left: auto;
		padding: 0 1em;
	}
}
