form {
	display: flex;
	flex-direction: column;
	gap: 4px;

	label {
		display: flex;
		align-items: baseline;
		gap: 4px;

		> input:where(:not([type]), [type="text"], [type="password"], [type="number"]) {
			flex-grow: 1;
		}

		&:has(>textarea){
			flex-wrap: wrap;
		}
		>textarea {
			width: 100%;
			resize: vertical;
		}
	}

	.toggle-visible {
		padding: 0;
		border: none;
	}
	input[type="password"] + .toggle-visible > .on {
		display: none;
	}
	input[type="text"] + .toggle-visible > .off {
		display: none;
	}
}
