article,
section {
	border-bottom: 1px solid var(--border-color);

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		display: flex;
		align-items: center;
		gap: 0.5em;

		&::before,
		&::after {
			content: "";
			height: 0;
			border-top: 1px solid var(--border-color);
		}
		&::before {
			width: 1em;
		}
		&::after {
			flex-grow: 1;
		}

		> span {
			font-size: 1rem;
			font-weight: normal;
		}
	}

	ul,
	ol {
		padding: 0 0.4em;
	}

	dl.line {
		display: grid;
		grid-template-columns: auto 1fr;
		column-gap: 0.5em;
	}
}
article {
	padding-bottom: 0.6lh;

	> *:not(h1, h2, h3, h4, h5, h6) + * {
		margin-top: 0.6lh;
	}
}
section {
	padding-bottom: 0.4lh;

	> *:not(h1, h2, h3, h4, h5, h6) + * {
		margin-top: 0.4lh;
	}
}
