{% extends "template.html" %}
{% block head %}
<link rel="stylesheet" href="style/note.css">
<link rel="stylesheet" href="style/form.css">
<link rel="stylesheet" href="style/entry.css">
<script type="module" src="script/entry.js"></script>
{% endblock %}
{% block content %}
{% if user %}
<p>ログイン中です。<a href="home"><ic class="ri-home-line"></ic>ホームへ</a></p>
{% else %}
<div id="forms">
	<label role="button">ログイン<input type="radio" name="show" checked hidden></label>
	<form id="login" method="post" action="entry/login" data-encode="form">
		<label>
			<ic class="ri-user-line"></ic>
			<input type="text" name="username" placeholder="ユーザー名">
		</label>
		<label>
			<ic class="ri-lock-line"></ic>
			<input type="password" name="password" placeholder="パスワード">
			<button type="button" class="toggle-visible">
				<ic class="on ri-eye-line"></ic>
				<ic class="off ri-eye-off-line"></ic>
			</button>
		</label>
		<button type="submit">ログイン</button>
	</form>
	<label role="button">新規登録<input type="radio" name="show" hidden></label>
	<form id="register" method="post" action="entry/register" data-encode="form" autocomplete="off">
		<label>
			<ic class="ri-user-line"></ic>
			ユーザー名
			<ic role="button" class="help ri-question-line">
				ログイン時に使用し、またポータルサイトでは画面にも表示されます。<br>
				基本的にゲーム中に表示されることはありません。
			</ic>
			<input type="text" name="username" min="4" max="24" placeholder="4~24文字">
		</label>
		<label>
			<ic class="ri-lock-line"></ic>
			パスワード
			<ic role="button" class="help ri-question-line">
				ログイン時に必要なパスワードです。<br>
				今のところ変更機能を実装していないので、忘れないようにしてください。
			</ic>
			<input type="password" name="password" min="4" placeholder="4文字以上">
			<button type="button" class="toggle-visible">
				<ic class="on ri-eye-line"></ic>
				<ic class="off ri-eye-off-line"></ic>
			</button>
		</label>
		<span>新規登録を押した時点で<a href="entry#tos">利用規約</a>に同意したものと見なします</span>
		<button type="submit">新規登録</button>
	</form>
</div>
{% endif %}
{% include "tos.html" %}
{% endblock %}
