{% extends "template.html" %}
{% block head %}
<link rel="stylesheet" href="common/style/note.css">
<link rel="stylesheet" href="common/style/form.css">
<script type="module" src="script/setting.js"></script>
{% endblock %}
{% block content %}
<form id="profile" action="home/setting" autocomplete="off">
	<h2>設定</h2>
	<label>プロフィール<textarea name="profile">{{profile}}</textarea></label>
	<label>Webhook URL<input type="text" name="webhook" value="{{webhook}}"></label>
	<button type="submit">更新</button>
</form>
{% endblock %}
