{% extends "template.html" %}
{% block head %}
<link rel="stylesheet" href="common/style/note.css">
{% endblock %}
{% block content %}
<article>
	<h1>untroche.portal</h1>
	<p>
		<a href="entry">アカウント登録・ログイン</a>
	</p>
	<section>
		<h3>このサイトは何？</h3>
		<p>
			サークルuntrocheの制作物をまとめたりする場所です。実質的なホームページ。
		</p>
	</section>
	<section>
		<h3>アカウント登録・ログインとは？　必要？</h3>
		<p>
			少なくともuntrocheの制作物一覧を閲覧する程度であれば登録は不要です。<br>
			ゲームを公開した際、都度ユーザーIDやパスワードを入力する手間を省く、複アカウントをシステム的に妨害するなどの理由から試験的に実装しています。<br>
		</p>
		<p>
			次に出るゲームではポータルサイトへのアカウントを登録していただき、そこと連携してゲームに登録する形になると思います。<br>
			その後ポータルログイン式を継続するかは不明です。
		</p>
	</section>
</article>
<article>
	<h2>制作した・関わったタイトル</h2>
	<section>
		<h3><a target="_blank">one day's' talk</a><span>by <a>untroche</a></span></h3>
		<dl class="period-list line">
			<dt>登録開始:</dt>
			<dd><time class="regist-start">2026-09-19</time></dd>
			<dt>開催期間:</dt>
			<dd><time class="start">2026-09-22</time> ~ <time class="end">2026-09-23</time></dd>
			<dt>公開終了:</dt>
			<dd><time class="access-end">2026-09-27</time> 以降</dd>
		</dl>
		<p>
			キャラクターそれぞれにハンドアウトが与えられる、開催期間1日のロールプレイチャットサイト。<br>
			たった1日だけ、からっぽの町に集まって住人たちの代役になる。
		</p>
	</section>
	<section>
		<h3>"Strings"<span>by <a>untroche</a></span></h3>
		<p>
			画像使用不可・テキストのみでキャラクター表現を行う<ruby>OCRB<rt>オリジナルキャラクター登録型</rt></ruby>-RPG。<br>
			自己を表現する「フラグメント」を拾い集め、あるいは捨て置き、キャラクターの性質が動的に変化していく。
		</p>
	</section>
	<section>
		<h3>Deep,Deep,Deep!<span>by <a>untroche</a></span></h3>
		<p>
			文通による交流を軸としたOCRB-定期更新クリッカーパズル。<br>
			夢の海に漂う「バブル」でたった一人生活しながら、週ごとに他のだれかと手紙をやり取りする。
		</p>
	</section>
	<section>
		<h3>CHARADIE<span>by <a>untroche</a></span></h3>
		<p>
			リポグラムを強制される閉鎖空間で一週間生き残る、OCRB-言葉遊びデスゲーム。<br>
			キャラクターにはそれぞれ平仮名一文字が与えられ、死亡すれば与えられたその文字は全体で禁止される。
		</p>
	</section>
	<section>
		<h3>FMデンパトウ<span>by <a target="_blank" href="https://x.com/HOT_W_">HOT-W</a></span></h3>
		<p>
			占拠されたデンパトウを取り戻すために魔王を倒す、自動戦闘RPG。<br>
			"Strings"に登場したスキルの一部を引用してもらいました。
		</p>
	</section>
	<section>
		<h3>かられす／れぐるす<span>by <a>なしなし</a></span></h3>
		<p>
			様々なスキルと自由入力式のステータスを組み合わせて自己を表現し戦うゲーム。<br>
			サーバーおよびドメインと、コンテンツの一部を貸与しました。
		</p>
	</section>
</article>
{% endblock %}
