{% extends "template.html" %}
{% block head %}
<link rel="stylesheet" href="style/note.css">
{% endblock %}
{% block content %}
<article id="20260908">
	<h2>ユーザー登録状態をリセットします<time>2026-09-08</time></h2>
	<p>
		ユーザー登録時・ログイン時に必要なパスワードについて、最低文字数を15文字とするように変更いたします。<br>
		それに伴い、既存の登録が上記条件を満たしていない場合ログインできなくなってしまうので、一度登録状態をまるごとリセットしようと思います。<br>
		条件を満たしていないユーザーのみを対象とすることも考えましたが、運営からはユーザーのパスワードを確認できないため判別が不可能でした。<br>
		こちらの考慮不足に巻き込んでしまい、大変申し訳ありません。
	</p>
	<p>
		上記操作は<time datetime="2026-09-08 23:00">9月8日23時</time>ごろに実施予定です。<br>
		お手数ですが、再度の登録をお願いいたします。
	</p>
	<details>
		<summary>変更の経緯</summary>
		<p>
			以前の制約は「パスワード4文字以上」でした。<br>
			これは誰から見てもあまりにも脆弱なのですが、規約で個人情報の入力を禁止していること、決済情報などを取り扱わないことから、運営個人の感覚としては「最悪パスワードを突破されても構わない」と考えていたことが理由です。<br>
			以前から最長で128文字かつUnicode範囲内の全ての文字を受け付けるようにはなっていたため、セキュリティを気にする方は個人の裁量で複雑なパスフレーズ等を設定すればよいと考えていました。<br>
		</p>
		<p>
			ですが、当サイトがSSO(シングルサインオン)を取り扱うコアの役割を持つこと、今後の展開次第では金銭情報を扱う可能性も0ではないことを踏まえ、セキュリティについて考えを改めこのような変更に至りました。<br>
			利用者の皆様にはご迷惑をおかけしますが、何卒ご了承ください。
		</p>
	</details>
</article>
<article>
	<h2>推奨閲覧環境について</h2>
	<p>
		基本的にブラウザ(webkit)は最新バージョンで閲覧してください。バージョンが古いことに起因する表示崩れ等の不具合には対応しません。
	</p>
</article>
{% endblock %}
