{% extends "template.html" %}
{% block head %}
<link rel="stylesheet" href="common/style/form.css">
<style>
	#login {
		margin: 1dvw;
	}
</style>
<!--submitの完了を待機してauthに戻る-->
{% endblock %}
{% block content %}
<form id="login" method="post" action="entry/login">
	<h3>ログイン</h3>
	<label>
		<ic class="ri-user-line"></ic>
		<input type="text" name="username" placeholder="ユーザー名">
	</label>
	<label>
		<ic class="ri-lock-line"></ic>
		<input type="password" name="password" placeholder="パスワード">
		<button type="button" class="toggle-visible">
			<ic class="on ri-eye-line"></ic>
			<ic class="off ri-eye-off-line"></ic>
		</button>
	</label>
	<button type="submit">ログイン</button>
</form>
{% endblock %}
