{% extends "template.html" %}
{% block head %}
<link rel="stylesheet" href="style/timeline.css">
{% endblock %}
{% block content %}
<div id="timeline">
	<article>
		<span class="name">比良坂さな</span>
		<span class="id">Eno.123</span>
		<img class="icon" loading="lazy" src="https://rabbithutch.site/usagoya/picture.php?user=pppppear&file=yomi_i0.webp">
		<p class="content">あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめも</p>
		<footer class="util">
			<time>2026-06-02 16:48:00</time>
			<div class="partition"></div>
			<button type="button" title="返信"><i class="ri-reply-line"></i></button>
		</footer>
	</article>
	<article>
		<span class="name">買い屋</span>
		<span class="id">Eno.1349</span>
		<img class="icon" loading="lazy" src="https://rabbithutch.site/usagoya/picture.php?user=pppppear&file=kaiya_i00.webp">
		<p class="content">「うお～～～～」</p>
		<footer class="util">
			<time>2026-06-02 16:48:00</time>
			<div class="partition"></div>
			<button type="button" title="返信"><i class="ri-reply-line"></i></button>
		</footer>
	</article>
	<article>
		<span class="name">買い屋</span>
		<span class="id">Eno.1349</span>
		<img class="icon" loading="lazy" src="https://placehold.jp/48x96.png">
		<p class="content">「縦長アイコン」<br>「1:2の比率だとちょうど2行に収まって気持ちが良い」</p>
		<footer class="util">
			<time>2026-06-02 16:48:00</time>
			<div class="partition"></div>
			<button type="button" title="返信"><i class="ri-reply-line"></i></button>
		</footer>
	</article>
	<article>
		<span class="name">買い屋</span>
		<span class="id">Eno.1349</span>
		<img class="icon" loading="lazy" src="https://placehold.jp/48x72.png">
		<p class="content">「時間とかの表示の都合で1行だと2:3がジャストサイズ」</p>
		<footer class="util">
			<time>2026-06-02 16:48:00</time>
			<div class="partition"></div>
			<button type="button" title="返信"><i class="ri-reply-line"></i></button>
		</footer>
	</article>
	<article>
		<span class="name">買い屋</span>
		<span class="id">Eno.1349</span>
		<img class="icon" loading="lazy" src="https://placehold.jp/48x480.png">
		<p class="content">「アスペクト比1/2以上の画像は潰れる」</p>
		<footer class="util">
			<time>2026-06-02 16:48:00</time>
			<div class="partition"></div>
			<button type="button" title="返信"><i class="ri-reply-line"></i></button>
		</footer>
	</article>
</div>
<div id="post-form">
	<form action="." method="post">
		<input type="text" class="name" name="name" placeholder="名前">
		<span class="id">Eno.xxx</span>
		<img class="icon" src="https://placehold.jp/48x96.png">
		<input type="hidden" name="icon">
		<textarea class="content" name="content" placeholder="発言内容"></textarea>
		<div class="util">
			<i role="button" class="ri-bold"></i>
			<i role="button" class="ri-italic"></i>
			<i role="button" class="ri-underline"></i>
			<i role="button" class="ri-strikethrough"></i>
			<div class="partition"></div>
			<button type="submit" title="送信"><i class="ri-send-plane-2-line"></i></button>
		</div>
	</form>
</div>
{% endblock %}
