/* template.htmlに対するスタイリング */

/* ページ全体の大枠 */
body {
	display: block flex;
	flex-direction: column;
	height: 100dvh;
	background-color: var(--surface-color);
	transition: background-color 0.2s;
}

header {
	/* ボックスモデル */
	display: block flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1dvw;
	/* 装飾 */
	border-bottom: 1px solid var(--border-color);
	background-color: var(--surface-color);
	/* アニメーション */
	transition: background-color 0.2s;
}

main {
	flex-grow: 1;
	padding: 0 1dvw;
	overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-color: var(--border-color) transparent;
}

/* メインメニュー */
#main-menu {
	/* 配置 */
	position: fixed;
	top: 0;
	right: 0;
	/* ボックスモデル */
	display: block flex;
	flex-direction: column;
	box-sizing: border-box;
	height: 100dvh;
	padding: 80px 2dvw 2dvh 1dvw;
	/* 装飾 */
	border-left: 1px solid var(--border-color);
	background-color: var(--surface-color);
	/* アニメーション */
	translate: 100%;
	transition: background-color 0.2s, translate 0.2s;

	a {
		/* ボックスモデル */
		display: block flex;
		gap: 0.2rem;
		align-items: center;
		/* タイポグラフィ */
		color: var(--link-color);
		font-size: 1.3rem;
		text-decoration: none;
		/* アニメーション・その他 */
		cursor: pointer;
		transition: color 0.2s;

		&:hover {
			color: var(--accent-color);
		}
	}

	> li.tool-box {
		/* ボックスモデル */
		display: block flex;
		flex-wrap: wrap;
		gap: 0.2rem;
		align-items: center;
		/* タイポグラフィ */
		font-size: 1.3rem;
	}

	> li:empty {
		flex-grow: 1;
	}

	body:has([aria-controls="main-menu"][aria-expanded="true"]) & {
		translate: 0;
	}
}
